.saxicons-header {
    width: 28px;
    height: 28px;
}

.saxnavigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.saxnavigation ul li a { 
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #333;
    font-family: 'Cormorant', serif;
}

.main-slider .border {
    border: none !important;
}

.slick-dots li button {
    font-size: 22px;
    line-height: normal;
    display: block;
    width: auto;
    height: auto;
    padding: 0;
}

.slick-dots li.slick-active button {
    color: #333;
}

.slick-dots li button::before {
    font-family: 'slick';
    font-size: 23px;
    line-height: normal;
    color: #838282;
    opacity: 1;
}

.slick-dots li.slick-active button::before {
    opacity: 1;
    color: #333;
}