.saxicons-header {
    width: 28px;
    height: 28px;
}

.saxnavigation .menu-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 10px;
}

.saxnavigation .menu-navigation li .navlink { 
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #333;
    font-family: 'Cormorant', serif;
}

.main-slider .border {
    border: none !important;
}

.slick-dots li button {
    font-size: 22px;
    line-height: normal;
    display: block;
    width: auto;
    height: auto;
    padding: 0;
}

.slick-dots li.slick-active button {
    color: #333;
}

.slick-dots li button::before {
    font-family: 'slick';
    font-size: 23px;
    line-height: normal;
    color: #838282;
    opacity: 1;
}

.slick-dots li.slick-active button::before {
    opacity: 1;
    color: #333;
}

.saxnavigation {
    background-color: #fff;
    position: relative;
}

.logo-header .helpful-links ul li.wishlist .wish span, 
.logo-header .helpful-links ul li.compare .compare-product .icon span, 
.logo-header .helpful-links ul li.my-dropdown .cart .icon span {
    z-index: 2;
}

.icone-menu-nav, .saxnavigation .menu-navigation li a svg {
    display: none;
}

@media (max-width:992px) {
    .logo-header .helpful-links ul li.loginbutton {
        display: none;
    }
    
    .saxnavigation .icone-menu-nav {
        display: block;
        margin: 1rem 0;
    }

    .saxnavigation .menu-navigation {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        box-shadow: 0 0 20px #6464643b;
        z-index: 99;
        min-width: 340px;
        padding: 1rem;
    }

    .saxnavigation .menu-navigation.showNav {
        display: flex;
        animation: showNav .5s;
    }

    .saxnavigation .menu-navigation li {
        width: 100%;
    }

    .saxnavigation .menu-navigation li .navlink {
        padding: 0 0 15px;
        display: flex;
        font-size: 1.4rem;
        align-items: center;
        justify-content: space-between;
    }

    .saxnavigation .menu-navigation li a svg {
        display: block;
    }
}

@keyframes showNav {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.aside-review-slider .slide-item .img-testimonials {
    width: 100px;
    border-radius: 200px;
}

.aside-review-slider .name {
    margin: 0;
    padding: 10px 0 0;
    text-transform: uppercase;
}

.aside-review-slider .owl-nav :is(.owl-prev, .owl-next) {
    position: absolute;
    top: 40%;
    font-size: 24px;
    color: #acacac;
}

.aside-review-slider .owl-nav .owl-prev {
    left: -30px;
}

.aside-review-slider .owl-nav .owl-next {
    right: -30px;
}

.btn-style-1 {
    text-transform: uppercase;
    border: 1px solid #333;
    color: #333;
    padding: 15px ;
    border-radius: 0;
    display: block
}

.slider-banners-excluse .owl-nav :is(.owl-prev, .owl-next) {
    position: absolute;
    top: 40%;
    font-size: 32px;
    color: #acacac;
}

.slider-banners-excluse .owl-nav .owl-prev {
    left: 30px;
}

.slider-banners-excluse .owl-nav .owl-next {
    right: 30px;
}

@media only screen and (max-width: 991px) {
    .item .info .name {
        font-size: 18px !important;
      }
}

/* Estilo para menu mobile */

.menu-navigation.drop_open > li {
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    z-index: -1;
    transition: all .1s;
}

.menu-navigation.drop_open li.menudrop {
    display: block;
    opacity: 1;
    height: auto;
    position: relative;
    z-index: 1;
}

.menu-navigation.drop_open li.menudrop a {
    flex-direction: row-reverse;
    justify-content: start;
    transition: all .3s;
}

.menu-navigation.drop_open li.menudrop a svg {
    transform: rotate(180deg);
    margin-right: 10px;
    transition: all .3s;
}

.menu-navigation .submenu-cat {
    height: 0;
    width: 0;
    overflow: hidden;
}

.menu-navigation.drop_open .submenu-cat {
    height: auto;
    width: 100%;
    transition: all .3s;
}

.submenu-cat .subcat-link {
    font-family: 'Cormorant', serif;
    font-size: 22px;
    padding: 5px 0;
    cursor: pointer;
}

.saxnavigation .menu-navigation .submenu-cat .subcat-link .boxsubcat {
    height: 0;
    opacity: 0;
    position: relative;
    z-index: -1;
}

.saxnavigation .menu-navigation .submenu-cat .subcat-link.subcat_open .boxsubcat {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    height: auto;
    overflow: hidden;
    opacity: 1;
    position: relative;
    z-index: 1;
    transition: all .5s;
}


.boxsubcat .brand-name {
    font: 13px 'Montserrat';
    font-weight: 500;
    padding-top: 3px;
    margin: 2px;
}

.boxsubcat .product-name {
    font-size: 12px;
    line-height: 12px;
}

.boxsubcat .box-img {
    height: 120px;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxsubcat .link-seemore {
    font-weight: 500;
    padding: 5px;
    display: block;
}

@media ( min-width:992px ){
    .menu-navigation.drop_open > li {
        height: 100%;
        opacity: 1;
        overflow: inherit;
        z-index: 1;
        transition: all .1s;
    }
    .saxnavigation .menu-navigation li .navlink {
        display: block;
    }

    .saxnavigation .menu-navigation {
        position: relative;
    }
    
    .menu-navigation.drop_open .submenu-cat {
        position: absolute;
        top: 100%;
    }
}